*.bak
*.diff
*.rcov
*.swp
*.tmp
*~
/*.sql
/coverage.*
/coverage/*
.cadre
/tags
/tmp/*
.ruby-version
.ruby-gemset
.bundle
.sass-cache/
spec/dummy/db/*.sqlite3
spec/dummy/db/*.sqlite3-journal
spec/dummy/log/*.log
spec/dummy/tmp/
spec/dummy/.sass-cache
Gemfile.lock
