*.diff
*.rcov
*.swp
*.tmp
*~
.hg
.hgtags
README.html
config/*.bak
config/secrets.yml
config/theme.txt
coverage.*
coverage/*
db/*.sqlite*
db/schema.rb
log/*
nbproject/*
public/javascripts/cache/*
public/stylesheets/cache/*
public/themes/*
public/system/*
tags
tmp/*
themes/bridgepdx/stylesheets/common_css/*