*.bak
*.diff
*.rcov
*.swp
*.tmp
*~
.hg
.hgtags
/*.sql
/README.html
/config/database~custom.yml
/config/secrets.yml
/config/theme.txt
/coverage.*
/coverage/*
/db/*.sqlite*
/db/data.yml
/db/schema.rb
/log/*
/nbproject/*
/public/javascripts/cache/*
/public/stylesheets/cache/*
/public/system/*
/public/themes/*
/rerun.txt
/tags
/public/stylesheets/common_css/*
/tmp/*
.ruby-version
.ruby-gemset
