<% page_title "#{@track.title} in #{@event.title}" %>

<p>
  <b>Title:</b>
  <%=h @track.title %>
</p>
<p>
  <b>Description:</b><br/>
  <%=h @track.description %>
</p>

<%= link_to 'Edit', edit_track_path(@track), :class => "editable" %>
<%= link_to 'Back', tracks_path, :class => "cancelable" %>
