/* Open Source Bridge Common Styles

	The latest version of this stylesheet can be found at
	http://github.com/reidab/osbp_styles

*/

/* Color Reference

	#818285 - gray from logo
	#116db6 - blue from logotype, h3
	#08b9a6 - teal from logotype

	#0a3456 - body background

	#00a8d8 - brighter blue, used for links

	#c0def5 - light blue, h2 background
	#f1f9ff - even lighter blue, blockquote bg, alt table


*/

/* @group Reset */

/* Strict reset here, overrides below. Should get squashed by build process. */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

body {
	font: 75%/1.5em "Helvetica Neue", Arial, Helvetica, "Liberation sans", "Bitstream Vera Sans", sans-serif;
	background: #fff;
	margin: 1.5em 0;
	position: relative;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

caption, th, td {
	text-align: left;
	font-weight: 400;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: "";
}

blockquote, q {
	quotes: "" "";
}

a img {
	border: none;
}

input,textarea {
	margin: 0;
}

/* Removes Firefox imposed outline */

a {
	outline: none;
}

/* @end */

/* @group Typograpy */

/* @group Colors */

body {
	background: #0a3456;
	color: #fff;
}

#wrapper {
	color: #494b50;
}

a, a:link {
	color: #00a8d8;
}

a:visited {
	color: #008d7f;
}

#footer a, #footer a:link {
	color: #f1f9ff;
}

#footer a:visited {
	color: ;#c0def5
}

/*

 @end */

/* @group Headings */

h1 {
	font-size: 3em;
	line-height: 1;
	margin-bottom: 0.5em;
}

h2 {
	font-size: 2em;
	margin-bottom: 0.75em;
}

h3 {
	font-size: 1.5em;
	line-height: 1;
	margin-bottom: 1em;
}

h4 {
	font-size: 1.2em;
	line-height: 1.25;
	margin-bottom: 1.25em;
}

h5 {
	font-size: 1em;
	margin-bottom: 1.5em;
}

h6 {
	font-size: 1em;
}

h3, h4, h5, h6 {
	color: #116db6;
}

/* @end */

/* @group Text Elements */

p {
	margin: 0 0 1.5em;
}

ul, ol {
	margin: 0 1.5em 1.5em 1.5em;
}

ul {
	list-style-type: circle;
}

ol {
	list-style: inside decimal;
}

dl {
	margin: 0 0 1.5em 0;
}

dl dt {
	font-weight: bold;
}

dl dd {
	margin-left: 1.5em;
}

abbr, acronym {
	border-bottom: 1px dotted;
}

address {
	margin-top: 1.5em;
	font-style: italic;
}

cite,em,i {
	font-style: italic;
}

del{
	text-decoration:line-through;
}

ins{
	text-decoration:overline;
}

dfn{
	border-bottom:1px dashed;
	font-style:italic;
}


a:hover {
	text-decoration: none;
}

blockquote p {
	background: #f1f9ff;
	margin:0 1.5em 1.5em;
	padding: 0.75em;
}

sub{
	bottom:-0.4em;
	font-size:0.85em;
	line-height:1em;
	position:relative;
	vertical-align:baseline;
}
sup{
	font-size:0.85em;
	line-height:1em;
	position:relative;
	top:-0.4em;
	vertical-align:baseline;
}

strong {
	font-weight: bold;
}

em, dfn {
	font-style: italic;
}

dfn {
	font-weight: bold;
}

pre, code {
	margin:0 0 1.5em;
	padding:0 0 0 1.5em;
	white-space: pre;
}

pre,code,kbd,tt{
	font:1em/1.5em Consolas, "Courier New", Courier, monospace;
}

tt {
	display: block;
	margin: 1.5em 0;
	line-height: 1.5;
}

hr {
	border: none;
	border-bottom: 1px solid #c6d3dd;
}

/* @end */

/* @group Tables */

table {
	margin-bottom: 1.5em;
}
caption{
	font-style:italic;
	text-align:left;
}
tr.alt td{
	background:#f1f9ff;
}
td{
	border:1px solid #000;
	padding:0.333em;
	vertical-align:middle;
}
th{
	font-weight:700;
	padding:0.333em;
	vertical-align:middle;
}

/* @end */

/* @end */

/* @group Common Classes */

.alignright,img.alignright {
	float: right;
	margin: 0 0 0 1em;
}

.alignleft,img.alignleft {
	float: left;
	margin: 0 1em 0 0;
}

.aligncenter,img.aligncenter {
	display: block;
	margin: 0 auto;
	text-align: center;
}

h2.entry-title {
	background: #c0def5;
	margin: 0 -25px .8em;
	text-indent: 25px;
	line-height: 1.5;
}

h2.entry-title a {
	color: #494b50;
	text-decoration: none;
}

.entry-date abbr {
	border-bottom: none;
}



/* @end */

/* @group Layout */

#wrapper {
	background: #fff;
	width: 83.33em;
	margin: 25px auto;
	position: relative;
}

/* @group Header */

#header {
	padding: 25px 25px 18px 25px;
	position: relative;
}

#site-title {
	margin: 0;
}

#site-description {
	position: absolute;
	right: 25px;
	bottom: 18px;
}

div.skip-link a {
	position: absolute;
	right: 0;
	top: -99px;
	background: #116db6;
	color: #fff;
	padding: .5em;
	font-size: .7em;
	text-decoration: none;
}

div.skip-link a:focus {
	top: 0;
}

/* @end */

/* @group Menu */

div#menu {
	background: #116db6;
	color: #fff;
	height: 3em;
	line-height: 3em;
	padding: 0 1em;
	text-transform: uppercase;
}

div#menu ul li {
	float: left;
}

div#menu ul, div#menu ul ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

div#menu ul a {
	color: inherit;
	display: block;
	margin-right: 1em;
	padding: 0 0.5em;
	text-decoration: none;
	font-size: 1.25em;
}

div#menu ul li.current_page_item a {
	background: url(i/menu-selected.gif) no-repeat center bottom;
}

div#menu ul ul ul a {
	font-style: italic;
}

div#menu ul li ul {
	left: -999em;
	position: absolute;
}

div#menu ul li:hover ul {
	left: auto;
}

/* @end */

div#container {
	float: left;
	margin: 0 -20.833em 0 0;
	width: 100%;
}

div#content {
	margin: 0 20.833em 0 0;
	padding: 25px;
	border-right: 1px solid #c6d3dd;
}

/* @group Sidebar */

div.sidebar {
	float: right;
	overflow: hidden;
	width: 19.5em;
}

div.sidebar div,div.sidebar ul {
	margin: 0;
	padding: 0;
}

div#secondary {
	clear: right;
}

div.sidebar h3 {
	margin: .5em 0
}

div.sidebar li {
	margin: 0 0 2em;
	list-style: none;
}

div.sidebar li form {
	margin: 0.2em 0 0;
	padding: 0;
}

div.sidebar ul ul {
	margin: 0 0 0 1.5em;
}

div.sidebar ul ul li {
	margin: 0;
	list-style: disc;
}

div.sidebar ul ul ul {
	margin: 0 0 0 0.7em;
}

div.sidebar ul ul ul li {
	list-style: circle;
}

/* @end */

div#footer {
	clear: both;
	width: 100%;
	background: #0a3456;
	padding: 25px 0;
	color: #fff;
	font-size: .8em;
}

/* @end */

/* @group Image Replacements */

#site-title a,
#site-description {
	overflow: hidden;
	text-indent: -999px;
	display: block;
}

#site-title a {
	width: 263px;
	height: 131px;
	background: url(i/header-logo.gif) no-repeat;
}

#site-description {
	width: 485px;
	height: 17px;
	background: url(i/header-description.gif);
}

/* @end */