/* @override http://localhost:3000/themes/bridgepdx/stylesheets/custom.css */

/* Make VIM use tabs in this file
vim:tw=0:ft=css:noet:
*/

#breadcrumbs {
	color: #888;
	margin-bottom: .5em;
}

/* @group Common Helper Classes */

div.admin-only {
	padding: 0.5em;
	margin: 0.5em 0 0.5em 0;
}

.admin-only {
	background: #EFC5C5;
}

.admin-only input[type=submit],
.admin-only form,
.admin-only form div {
  display: inline;
}

.inlined, .inlined div, .record-controls div {
	display: inline;
}

.quagmire {
	display: none;
}

.wide {
	width: 100%;
}

.narrow {
	width: 0%;
}

.nowrap {
	white-space: nowrap;
}

.hidden {
	display: none;
}

.visible {
	visible: visible;
}

.empty-text {
	text-align: center;
	font-style: italic;
	white-space: nowrap;
}

/* Loading box of width=height=100px with a spinner placed at the center */
#page_spinner {
	display: none;
	width: 100px;
	height: 100px;
	position: fixed;
	top: 50%;
	left: 50%;
	color: black;
	background: url(/images/spinner-big.gif) no-repeat center #F7F1A3;
	text-align: center;
	padding: 10px;
	font: normal 16px Tahoma, Geneva, sans-serif;
	border: 1px solid #666;
	margin-left: -50px;
	margin-top: -50px;
	z-index: 2;
	overflow: auto;
}

/* @end */

/* @group Icon Additions */

.addable,
.showable,
.editable,
.cancelable,
.deletable,
.feedable,
.snippet_edit_link,
.spinning {
	margin-right: 10px;
	padding-left: 20px;
	background-position: left center;
	background-repeat: no-repeat;
}

.addable {
	background-image: url('/images/plus.png');
}

.showable {
	background-image: url('/images/document.png');
}

.editable,
.snippet_edit_link {
	background-image: url('/images/edit.png');
}

.cancelable {
	background-image: url('/images/arrow-out.png');
}

.deletable {
	background-image: url('/images/redx.png');
}

.feedable {
	background-image: url('/images/feed.png');
}

.spinning {
	background-image: url('/images/spinner.gif');
}

/* @end */

/* @group Forms */

.required-field {
	padding: 0 0.25em;
	color: red;
}

.private-field {
	padding: 0 0.25em;
	color: green;
}

.record-controls {
	margin: 1em;
}

.record-controls input {
	margin-right: 1em;
}

/* @group Standard Form */

.standard-form table {
	width: 100%;
}

.standard-form td {
	padding: 0.5em;
	text-align: left;
	vertical-align: top;
}

.standard-form .label-cell {
	padding-left: 0;
	text-align: right;
	white-space: nowrap;
	width: auto;
}

.standard-form .label-cell label {
	font-size: 1.1em;
}

.standard-form .data-cell {
	width: 98%;
}

.standard-form input[type=checkbox] {
	padding: 0;
	margin: 0 0.5em 0 0;
}

.standard-form input[type=text],
  .standard-form input[type=password],
  .standard-form textarea {
	width: 97%;
	padding: .3em;
}

.standard-form input[type=submit] {
	font-size: 100%;
}



/* @end */

/* @group Radio Set */

ul.radio-set {
	list-style: none;
	padding: 0;
	margin: 0 0 1em;
	border-top: 1px solid #aaa;
}

ul.radio-set li {
	background: #eee;
	padding: .5em .5em .5em 35px;
	border-bottom: 1px solid #aaa;
	position: relative;
}

ul.radio-set input {
	position: absolute;
	left: 10px;
	top: .9em;
}

ul.radio-set label {
	font-style: normal;
	display: block;
}

ul.radio-set p {
	font-size: .85em;
	margin: 0;
}

/* @end */

/* @end */

/* @group Snippets */

.snippet_preview {
	margin: 0;
	padding: 0.5em;
	border: 1px dotted #116db6;
}

.snippet_form input[type=text] {
	width: 100%;
}

.snippet_form textarea {
	height: 12em;
	width: 100%;
}

/* @end */

/* @group Login Form */

#session_form input[type=text], #session_form input[type=password] {
	width: 24em;
}

#session_form input {
	clear: both;
}

#session_form .rightish {
	width: 12em;
	text-align: right;
	display: block;
	float: left;
	text-align: right;
	padding-right: 1em;
}

/* @end */

/* @group Submit a Talk Button */

.rnd_top, .rnd_bottom {
	display: block;
	background: #FFFFFF;
	font-size: 1px;
}

.rnd_b1, .rnd_b2, .rnd_b3, .rnd_b4 {
	display: block;
	overflow: hidden;
}

.rnd_b1, .rnd_b2, .rnd_b3 {
	height: 1px;
}

.rnd_b2, .rnd_b3, .rnd_b4 {
	background: #DAF4D4;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
}

.rnd_b1 {
	margin: 0 5px;
	background: #CCCCCC;
}

.rnd_b2 {
	margin: 0 3px;
	border-width: 0 2px;
}

.rnd_b3 {
	margin: 0 2px;
}

.rnd_b4 {
	height: 2px;
	margin: 0 1px;
}

.rnd_content {
	display: block;
	border: 0 solid #CCCCCC;
	border-width: 0 1px;
	padding: 4px;
	background: #DAF4D4;
	color: #000000;
}

div.rnd_content {
	margin: 0;
}

/* FIXME how to automatically size width of the box? */

.submit-a-proposal-wrapper {
  margin: 1em 0;
  text-align: center
}

/* @end */

/* @group Tracks */

.track {
	background: #666;
	color: #fff;
}

.track.block,
.track.block a {
	color: #fff;
	text-transform: uppercase;
	padding: .5em;
	line-height: 2em;
	height: 2em;
}

/* @end */

/* @group Users */

.user-meta, .user-photo, .proposal-meta {
	float: right;
	margin: 0 0 1em 1em;
	clear: right;
}

strong.admin {
	color: red;
	font-weight: normal;
}

/* @end */

/* @group Proposals */

/* @group Index */

table.proposals {
	margin: 1em 0;
}

table.proposals td {
	border-top: 1px solid #aaa;
}

table.proposals td.schedule_header {
	background: #666;
	color: #fff;
	font-weight: bold;
	border-top: 3px solid #4ba8f2;
	border-bottom: 1em solid #fff;
}

table.proposals h3 {
	margin: .3em 0 .5em;
}

table.proposals h3 span.proposal-status {
  font-size: .7em;
}

table.proposals h3 span.proposal-status.proposed {
  color: #222;
}

table.proposals h3 span.proposal-status.confirmed {
  color: green;
}

table.proposals h3 span.proposal-status.rejected {
  color: red;
}

table.proposals h3 span.proposal-status.junk {
  color: #aaa;
}

table.proposals .date, table.proposals .track {
	font-size: .9em;
	text-align: center;
	line-height: 2em;
	padding: .5em 1em;
	height: 2em;
}

table.proposals .date {
	background: #eee;
}

table.proposals .speakers {
	font-size: .9em;
	border-top: none;
	padding: .5em 0 1em 0;
	vertical-align: top;
}

table.proposals .description {
	padding: 0 1em 1em 0;
}

/* @end */

/* @group Show */

.proposal-slug {
	font-weight: bold;
	font-size: .8em;
	padding: .5em;
}

.proposal-meta {
	text-align: center;
	border: 1px solid #666;
}

.proposal-meta a.session_type {
	display: block;
	background: #999;
	color: #fff;
	text-decoration: none;
	font-size: .8em;
	padding: .3em 0;
}

.proposal-meta .proposal-status {
	background: #116db6;
	color: #fff;
	text-transform: uppercase;
	font-size: .9em;
	padding: .5em;
}

/* @group Comments */

ul.proposal-comments {
	list-style: none;
	padding: 0;
	margin: 0;
}

ul.proposal-comments li {
	border-bottom: 1px solid #ccc;
	padding: 1em 0;
}

ul.proposal-comments div.proposal-title {
	margin-top: .5em;
}

ul.proposal-comments blockquote {
	margin-top: .5em;
}

/* @end */

/* @group Speaker List */

ul.speakers {
	margin: 0;
	list-style: none;
}

ul.speakers li.vcard {
	border-bottom: 1px solid #aaa;
	margin-top: 1em;
}

ul.speakers .note {
	font-size: .9em;
	padding: 1em 2em 0;
}

ul.speakers .note li {
  border: none;
}

/* @end */



/* @end */

/* @group Edit */

#manage-speakers td {
	padding: 0.1em;
}

#manage-speakers {
	width: 55%;
}

#add-speakers {
	background: #eee;
	border-left: 1px solid #aaa;
	padding: 1em 1em 0;
	width: 40%;
	float: right;
}

#add-speakers input {
	width: auto;
}

#speaker-search-results li p {
	font-size: .85em;
	margin: 0;
}

#speaker-search-results ul {
	list-style: none;
	padding: 0;
	margin: 1em -1em 0;
}

#speaker-search-results li {
	padding: .5em 1em .5em 40px;
	position: relative;
	border-top: 1px solid #aaa;
}

#speaker-search-results a.addable,
#speaker-search-results a.spinning {
	width: 16px;
	display: block;
	overflow: hidden;
	padding-left: 0;
	text-indent: -999px;
	position: absolute;
	left: 1em;
}

/* @end */

/* @end */
