<div class="auth-provider developer">
  <h3>Developer</h3>
  <form id='developer_form' action='<%= auth_callback_path(:developer) %>'>
    <button name='email' value='admin@ocw.local'  type='submit' class='btn btn-default'>Sign in as Admin</button>
    <button name='email' value='mortal@ocw.local' type='submit' class='btn btn-default'>Sign in as User</button>
  </form>
</div>
