<% page_title "#{@session_type.title}" %>

<div id="session_type-show">
  <span class="description"><%= textilize @session_type.description %></span>

  <%= link_to 'Edit', edit_session_type_path(@session_type), :class => "editable" if admin? %>
  <%= link_to 'Session types for this event', session_types_path, :class => "cancelable" %>

  <% unless @session_type.proposals.empty?  %>
    <h3>Proposals for this session type</h3>
    <%= render :partial => 'proposals/list', :locals => {:proposals => @session_type.proposals} %>
  <% end %>
</div>
