<%
# Display a schedule block's time and the calendar items within it.
#
# Locals:
# * block => A ScheduleBlock to display Proposal and ScheduleItems for.
%>
<h4><%= normalize_time(block, :context => block.start_time.to_date) %></h4>
<%= render :partial => 'open_conference_ware/proposals/list_concise', :locals => { :items => block.items }%>
