<%
# Variables:
# * proposal or @proposal: Proposal to create UI for.

proposal ||= @proposal
%>

<% if admin? %>
  <% run_when_jquery_is_ready "bind_all_proposal_controls();" %>

  <div class="admin-only">
    <% form_for(proposal) do |f| %>
      <strong>ADMIN:</strong>
      <% if proposal_statuses? %>
        Status
        <%= render :partial => '/proposals/transition_control', :locals => {:proposal => proposal} %>
      <% end %>
      <% if event_rooms? %>
        Room
        <%= render :partial => '/proposals/room_control', :locals => {:proposal => proposal, :form => f} %>
      <% end %>
      <br />
      <% if proposal_start_times? %>
        Start
        <%= render :partial => '/proposals/schedule_control', :locals => {:proposal => proposal, :form => f} %>
      <% end %>
    <% end %>
  </div>
<% end %>
