<%
# Variables:
## Kind of records to list, e.g, :sessions or :proposals. REQUIRED.
kind      = local_assigns[:kind]
## ActiveRecord instance that has #proposals, e.g., a User. REQUIRED.
container = local_assigns[:container]
## Title of the container, e.g., "user". Optional, leave blank to guess based on container's class.
title     = local_assigns[:title]
## Display the sort toolbar? Optional, defaults to false.
sorter    = local_assigns[:sorter]
## Archive the content and hide it behind a link? Optional, defaults to false.
archive      = local_assigns[:archive]

# Display all proposals if :all
inclusive = kind == :all
kind = :proposals if kind == :all
%>

<% cache "proposals,sub_list_for_kind,kind_#{kind},container_#{container.class.name}_#{container.id},title_#{title.hash},sorter_#{sorter.hash},admin_#{admin?}" do %>
  <%
    records = \
      if inclusive
        container.proposals.all
      else
        case kind
        when :proposals then container.proposals.unconfirmed
        when :sessions then container.proposals.confirmed
        else raise TypeError, "Unknown kind: #{kind}"
        end
      end
  %>

  <% unless records.blank? %>
    <div class="proposals_sub_list" id="proposals_sub_list_for_kind_<%= kind %>">
      <div class="proposals_sub_list_toggle" style="display: none">
        <a href="#" onclick="$(this).hide(); $(this).parent().parent().find('.proposals_sub_list_content').show(); return false;">Display <%= kind %>...</a>
      </div>
      <div class="proposals_sub_list_content">
        <h3><%= "#{kind.to_s.titleize} for this #{title || container.class.name.singularize}".humanize %></h3>
        <%= render :partial => "proposals/list", :locals => {:kind => kind, :records => records, :sorter => sorter} %>
      </div>
    </div>

    <% if archive %>
      <% run_when_jquery_is_ready "$('#proposals_sub_list_for_kind_#{kind} .proposals_sub_list_content').hide(); $('#proposals_sub_list_for_kind_#{kind} .proposals_sub_list_toggle').show()"%>
    <% end %>
  <% end %>
<% end %>
