<p><strong>Thanks for submitting <%= link_to "your proposal", proposal_path(@proposal) %> to Open Source Bridge!</strong></p>

<h3>Next Steps</h3>

<p>You'll hear back from us after March 9th, when proposal submissions close.</p>

<h4>Get to Portland</h4>

<p>Check out the <a href='/attend/'>attend</a> page for useful travel information.

<h4>Web Badges</h4>

<p>Share your submission! Help us get the word out about the conference with these handy badges. Just copy the HTML code associated with the image you want below and paste it on your website. Grab one now, or check out the <a href='/web-badges/'>web badges</a> page anytime.</p>

<table border="0" cellspacing="5" cellpadding="5">
   <thead>
      <tr><th>Preview</th><th>Code</th></tr>
   </thead>
   <tbody>
      <tr>
         <td>
            <a href="http://opensourcebridge.org/"><img src="http://opensourcebridge.org/badges/2013/submit125.png" alt="I'm submitting a talk to Open Source Bridge - June 18&ndash;21, 2013 - Portland, OR" border="0" /></a>
         </td>
         <td>
            <textarea rows="6" cols="40"><a href="http://opensourcebridge.org/?ref=submit125"><img src="http://opensourcebridge.org/badges/2013/submit125.png" alt="I'm submitting a talk to Open Source Bridge - June 18&ndash;21, 2013 - Portland, OR" border="0" /></a></textarea>
         </td>
      </tr>
   </tbody>
</table>
