<% if admin? && !(conflicts = @schedule.room_conflicts).empty? %>
<div class='admin-only'>
  <h3>( ! ) Room Conflicts Detected</h3>
  <%= content_tag(:ul,
        @schedule.room_conflicts.map{ |conflict|
          content_tag(:li,
            "<em>#{conflict[:item].title}</em> vs. <em>#{conflict[:conflicts_with].title}</em> in #{conflict[:room].name}"
          )
        }.join("\n")
      ) %>
</div>
<% end -%>

<% if admin? && !(conflicts = @schedule.user_conflicts).empty? %>
<div class='admin-only'>
  <h3>( ! ) Speaker Conflicts Detected</h3>
  <%= content_tag(:ul,
        @schedule.user_conflicts.map{ |conflict|
          content_tag(:li,
            "<strong>#{conflict[:user].fullname}</strong><em>#{conflict[:item].title}</em> vs. <em>#{conflict[:conflicts_with].title}</em> in #{conflict[:room].name}"
          )
        }.join("\n")
      ) %>
</div>
<% end -%>

<% @schedule.days.each do |day| %>
  <h3><%= day.date.strftime("%B %e, %Y") %></h3>

  <table class='schedule'>
    <% day.sections.each do |section| %>
      <% colspan = day.lcm_colspan / section.slices.size %>

      <%
        rows = section.lcm_rowspan
        (0..rows-1).each do |row|
          row_content = ''

          section.slices.sort_by{|slice| slice.blocks.size}.reverse.each do |slice|
            block_height = (rows / slice.blocks.size)
            relevant_rows = (0..slice.blocks.size-1).map{ |n| n * block_height }
            if relevant_rows.include?(row)
              row_content << "<td class='schedule_block' rowspan='#{block_height}' colspan='#{colspan}'>"
              row_content << render(:partial => 'schedule_block',
                              :locals => { :block => slice.blocks[row / block_height] })
              row_content << "</td>"
            end
          end
          %>
          <tr><%= row_content %></tr>
      <% end -%>
    <% end -%>
  </table>
<% end -%>