<p>
  Sorry, the record you were looking for does not exist. It may have been deleted or you entered an incorrect URL.
</p>

<p>
  If you believe this is an error, <%= mail_to(OpenConferenceWare.administrator_email, "contact the developers", :subject => "404 Not Found on #{Socket.gethostname}:#{File.basename(Rails.root)}", :body => "What did you do that caused the error?\n\nWhat did you expect the system to do?\n\n") %>.
</p>

