<p>
  Sorry, could not complete your request because its security token was invalid. This error may have happened because:
</p>
<ol>
  <li>Your browser isn't accepting cookies: please accept this site's cookies, reload the form and try again.</li>
  <li>You submitted a stale form, one loaded before you logged in or out: please reload the form and try again.</li>
  <li>Our server's security token was just updated: please reload the form and try again.</li>
</ol>
<p>
  If the instructions above didn't help, please <%= mail_to(OpenConferenceWare.administrator_email, "contact the developers", :subject => "422 Unprocessable Entity on #{Socket.gethostname}:#{File.basename(Rails.root)}", :body => "What did you do that caused the error?\n\nWhat did you expect the system to do?\n\n") %>.
</p>
