<p>
  Sorry, you found a bug.
</p>

<p>
  A complete log of everything that just happened been sent to the developers and will be fixed soon.
</p>

<p>
  If you'd like to email additional information or get notified when the problem is resolved, <%= mail_to(OpenConferenceWare.administrator_email, "contact the developers", :subject => "500 Server Error on #{Socket.gethostname}:#{File.basename(Rails.root)}", :body => "What did you do that caused the error?\n\nWhat did you expect the system to do?\n\n") %>.
</p>
