<p>
  Sorry, that action failed because you either have your cookies turned off, have a bad browser, or the server's configuration just changed. Please do the following:
</p>
<ol>
  <li>Enable cookies and accept them from this site.</li>
  <li>Logout and login if you were logged in before.</li>
  <li>Navigate back to the form and use it again</li>
</ol>

<p>
  If followed the above instructions and got this error message again, please <%= mail_to(SECRETS.administrator_email, "contact the developers", :subject => "422 Unprocessable Entity on #{Socket.gethostname}:#{File.basename(RAILS_ROOT)}", :body => "What did you do that caused the error?\n\nWhat did you expect the system to do?\n\n") %>.
</p>

