<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= page_title %></title>
  <%= stylesheet_link_tag 'k2', 'rollingarchives', 'igniteportland' %>
  <%#= stylesheet_link_tag 'application' %>
  <%#= stylesheet_link_tag 'scaffold' %>
</head>
<body class="wordpress k2 y2007 m10 d17 h17 home columns-two lang-en" onload="onloader()">
<div id="page" class="firstpage">

<p style="color: green"><%= flash[:notice] %></p>

<%= yield  %>

</div>
</body>
</html>
